// variables
$siegel-red: #770019;
$siegel-lightgray: #D9D9DA;
$siegel-gray: #AFAFB0;

$light-s2: #3C3C3C;

// styles
body {
  margin: 0;
}

.document {
  max-width: 1460px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.right {
  float: right;
}

.siegel-red {
  color: $siegel-red !important;
}

// classes
.text-navigation {
  color: $siegel-red;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
}

.text-logo {
  color: $light-s2;
  font-size: 24px;
  white-space: nowrap;
}

